<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
	<div layout:fragment="content" class="content-container">
	    <section class="site-width layout-pd-L">
		    <div class="title-container txt-center">
		    	<h1 class="h1">로 그 인</h1>
		    </div>
			<form name="login" action="/login/login.do" method="post">
				<div class="form-inner form-login max-w-400">
					<div class="input-container">
		                 <label class="flex-wrap">
                            <!-- <span class="label-txt">아이디</span> -->
                            <input type="text" name="username" autocomplete="username" placeholder="아이디를 입력해주세요.">
                            <span id="messageId" class="form-msg"></span>
                        </label>
                     </div>
					<div class="input-container">
		                 <label class="flex-wrap">
                            <!-- <span class="label-txt">비밀번호</span> -->
                            <input type="password" name="password" autocomplete="current-password" placeholder="비밀번호를 입력해주세요.">
                            <span id="messagePw" class="form-msg"></span>
                        </label>
                     </div>
                     <div th:if="${param.error}" class="txt-center mb-10">
	                    <span class="form-msg font-size-18"> ID 또는 PW를 확인해 주세요. </span>
	                </div>
                     <div class="btn-container pair-btns txt-center">
                     	<input class="btn btn_insert" type="button" value="회원가입" th:onclick="|location.href='@{/login/regist.do}'|">
                     	<input class="btn btn_login btn-submit" type="button" value="로그인" onclick="checkLogin()">
                     </div>
                </div>
            </form>
            <div class="txt-center">
                <input class="btn_insert" type="button" value="아이디찾기" th:onclick="|location.href='@{/login/find_id.do}'|">
                <span class="bar"></span>
                <input class="btn_insert" type="button" value="비밀번호찾기" th:onclick="|location.href='@{/login/find_pw.do}'|">
            </div>
	    </section>
	</div>
</html>